
.icon-plus-squared:before { content: '\e800'; } /* '' */
.icon-minus-squared:before { content: '\e801'; } /* '' */
.icon-trash:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-book-open:before { content: '\e804'; } /* '' */
.icon-chat:before { content: '\e805'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */