.loccms-detail__mask {
    background: #0004;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.loccms-detail__body {
    position: absolute;
    background: #1b95da;
    color: white;
    padding: 20px;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    min-width: 300px;
    max-width: 500px;
    z-index: 10;
    box-shadow: -5px 0px 9px #0004;
}

.node-field {
    display: block;
    margin: 10px 0;
    background: #12699b;
    padding: 10px;
    cursor: default;
}

.node-field:hover {
    background: #104f72;
}

.node-field > .node-field__label,
.node-field > .node-field__value,
.node-field > .node-field__description {
    font-size: 18px;
}

.node-field > .node-field__label {
    display: inline-block;
    font-weight: bold;
    width: 75px;
}

.node-field > .node-field__value {
}

.node-field > .node-field__description {
    margin: 5px 0 0 10px;
    font-size: 16px;
    display: block;
    color: #a5dfff;
}