.loccms-master {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.loccms-master__title {
    display: inline-block;
    margin: 0 0;
    padding: 15px 25px;
    font-size: 36px;
    border-bottom: solid 2px #ddd;
}