.load-mask {
    text-align: center;
    padding: 50px 0;
}

.load-mask .icon:before {
    animation: spin infinite 1s;
    font-size: 96px;
}

.load-mask__icon, .load-mask__text {
    margin: 20px 0;
    animation: tilt infinite 1s;
}

.load-mask__text {
    font-size: 32px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(3deg);
    }

    66% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}