.loc-tree {
    padding: 10px;
    background: #f4f4f4;
    flex: 1;
}

.loc-tree.empty {
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-view {
    padding: 25px;
    text-align: center;
    color: #666;
}

.empty-view__icon {
    display: inline-block;
    width: 180px;
    height: 180px;
    font-size: 120px;
    line-height: 180px;
    border: solid 5px #666;
    border-radius: 200px;
}

.empty-view__text {
    display: block;
    margin: 20px 0;
    font-size: 32px;
}