.loc-tree > .tree-node {
    margin-left: 0;
}

.tree-node {
    font-size: 18px;
    margin: 0 0 0 25px;
    line-height: 40px;
}

.tree-node__ct {
    padding: 0 5px;
    transition: background-color linear 0.15s;
}

.tree-node__ct:hover {
    background: #ddd;
}

.tree-node .tree-tool {
    display: inline-block;
    background: transparent;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #444;
    transition: color ease-in-out 0.3s;
}

.tree-node .tree-tool:hover {
    color: #000;
}

.tree-node .tree-tool.tool-expander {
    cursor: pointer;
}

.tree-node .tree-tool.tool-spinner:before {
    animation: spin infinite 1s;
}

.tree-node .tree-tool.tool-empty {
    visibility: hidden;
    opacity: 0;
}

.tree-node__info {
    padding: 8px;
    color: #444;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.tree-node__info:hover {
    color: #000;
}

.tree-node__info__code {
    margin: 0 5px;
    font-weight: bold;
}

.tree-node__tools {
    display: inline-block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}